:root{
  --pastelred: #c81919;
  --sketchcolor: #36454F; 
}

@font-face {
  font-family: Rondo;
  src: url(./rondo.ttf);
}

*{
  margin: none;
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
}

/* May want to change pastelred to something else*/
body{
  min-height: 100%;
  background-color: var(--pastelred);
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Styling*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1.5em;

  /* Create a linear gradient for the text */
  background: linear-gradient(45deg, #ffc600, #ff6f00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  color: goldenrod;
}

header h1{
  font-family: Rondo, Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
}

header p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}
/* Content Styling */
.container{
  display: grid;
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}


.grid-element:hover{
  border: 2px dashed blue;
}
