:root{
  --pastelred: #c81919;
  --sketchcolor: #36454F; 
}

@font-face {
  font-family: Rondo;
  src: url(./rondo.ttf);
}

*{
  margin: none;
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
}

/* May want to change pastelred to something else*/
body{
  min-height: 100%;
  background-color: var(--pastelred);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 680px;
}

/* Header Styling*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1.5em;

  /* Create a linear gradient for the text */
  background: linear-gradient(45deg, #ffc600, #ff6f00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  color: goldenrod;
}

header h1{
  font-family: Rondo, Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
}

header p{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}
/* Content Styling */
.container{
  display: grid;
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

.grid-element:hover{
  border: 2px dashed blue;
}

/* Controls Styling*/
.control{
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 1em;
  align-items: flex-end;
}

.slidecontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.slidecontainer p{
  margin: 0.5em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;

  background: linear-gradient(45deg, #ffc600, #ff6f00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  color: goldenrod;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #143dc6;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
